---
import Resource from "../../components/Resource.astro";
import marked from 'marked'
import Layout from "../../layouts/Layout.astro";
import ResourcePost from "../../components/ResourcePost.astro";
import AccomplishmentMain from "../../components/AccomplishmentMain.astro";

const slug = Astro.params.slug;
let data = await fetch(
  `https://megabyte-website-backend.onrender.com/api/resources?filters[slug][$eq]=${slug}`
)
  .then((res) => res.json())
  .then((d) => {
    return d.data;
  });

if (data.length == 0 || !data) {
  return Astro.redirect("/404");
}

const data_new= data[0].attributes;
console.log(data_new)

---

<Layout title="Resources | Megabyte" >
  <div class="bg-line h-full px-8 pt-24 pb-8 sm:pt-36 md:px-24">
    <ResourcePost logo='/assets/tsrs.svg' date={data_new.publishedAt} rawContent={data_new.content} title={data_new.title} colour1={data_new.color1} colour2={data_new.color2} />
  </div>
</Layout>
