---
import Resource from "../../components/Resource.astro";
import Layout from "../../layouts/Layout.astro";
import ResourcePost from "../../components/ResourcePost.astro";
import AccomplishmentMain from "../../components/AccomplishmentMain.astro";

const slug = Astro.params.slug;
let data = await fetch(
  `https://megabyte-website-backend.onrender.com/api/resources?filters[slug][$eq]=${slug}&populate=*`
)
  .then((res) => res.json())
  .then((d) => {
    return d.data;
  });
if (data.length === 0 || !data) {
  return Astro.redirect("/404");
}

data = data[0];
---

<Layout title="Resources | Megabyte">
  <div class="bg-line h-full px-8 pt-24 pb-8 sm:pt-36">
    <ResourcePost
      id={data.id}
      logo={data.attributes.img.data.attributes.url}
      date={data.attributes.updatedAt}
      rawContent={data.attributes.content}
      title={data.attributes.title}
      colour1={data.attributes.color1}
      colour2={data.attributes.color2}
    />
  </div>
</Layout>
