---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Maintain from "../../components/Maintain.astro"; // Use when site under maintainance
---

<!-- <Maintain /> -->
<Layout title="Resources | MEGABYTE">
  
  <div class="pageNavWrapper">
    <button class="backward cursor-pointer pageChange bg-[#000] rounded-xl text-[#fff] text-xl text-center px-5 py-2.5 relative top-[20em]">{"<"}</button>
    <button class="forward cursor-pointer pageChange bg-[#000] rounded-xl text-[#fff] text-xl text-center px-5 py-2.5 relative top-[20em] text-center">{">"}</button>
  </div>
</Layout>

<script>
  let page = 1;
  let paginationSize = 5;

  if (localStorage.paginationSize) {
    paginationSize = localStorage.paginationSize;
  } else {
    localStorage.paginationSize = paginationSize;
  }

  let data = await fetch(
    `https://megabyte-website-backend.onrender.com/api/resources?sort[0]=publishedAt:desc&pagination[page]=${page}&pagination[pageSize]=${paginationSize}`
  )
    .then((res) => res.json())
    .then((d) => {
      return d.data;
    });
  console.log(data);
  const forwardButton = document.querySelector(".forward");
  const backwardButton = document.querySelector(".backward");

  forwardButton?.addEventListener("click", (e) => {
    e.preventDefault();
    fetchData("forward");
  });
  backwardButton?.addEventListener("click", (e) => {
    e.preventDefault();
    fetchData("backward");
  });
  async function fetchData(type) {
    if (type != "backward" && type != "forward") {
      location.reload();
    }

    if (type == "forward") {
      page += 1;
      data = await fetch(
        `https://megabyte-website-backend.onrender.com/api/resources?sort[0]=publishedAt:desc&pagination[page]=${page}&pagination[pageSize]=${paginationSize}`
      )
        .then((res) => res.json())
        .then((d) => {
          console.log(d.data);
          return d.data;
        });
    } else {
      if (page == 1) return;
      page -= 1;
      data = await fetch(
        `https://megabyte-website-backend.onrender.com/api/resources?sort[0]=publishedAt:desc&pagination[page]=${page}&pagination[pageSize]=${paginationSize}`
      )
        .then((res) => res.json())
        .then((d) => {
          console.log(d.data);
          return d.data;
        });
    }
  }
</script>
