---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../../libs/dateFormat";

export interface Props {
  accomplishment: CollectionEntry<"accomplishments">;
  tColour: string;
}
const { accomplishment, tColour } = Astro.props;
---

<div
  class="card bg-white flex h-full w-full flex-col"
  id=`accomplishment-${accomplishment.slug}`
>
  <div
    class:list={[
      "flex flex-shrink flex-col items-center justify-between gap-1 px-5 pt-2 pb-2 text-center",
      `bg-[${tColour}]`,
    ]}
  >
    <p
      class="flex min-h-[60px] flex-grow items-center justify-center text-2xl font-bold"
    >
      {accomplishment.data.title}
    </p>
    <p class="font-bold uppercase">
      {formatDate(accomplishment.data.date, "accomplishment-card")}
    </p>
  </div>
  <div class="flex flex-grow flex-col gap-5 px-6 py-6">
    <div class="flex flex-col items-center justify-center md:h-[250px]">
      {
        (
          <img
            class="mb-4 h-auto max-h-[250px] w-auto max-w-full shadow-[4px_4px_0_0] shadow-black border-[2px] border-solid border-black"
            src={accomplishment.data.media[0]}
            alt={accomplishment.data.media[0]}
          />
        )
      }
    </div>
    <div class="flex flex-grow flex-col justify-between">
      <p class="text-md text-gray-700 mb-6 flex-grow">
        {accomplishment.data.subline}
      </p>
      <a
        href={`/accomplishments/${accomplishment.slug}`}
        class="hover:pointer bg-white link-button px-4 py-2 text-center font-mono text-sm uppercase"
      >
        <span class="font-bold">Read more</span>
      </a>
    </div>
  </div>

  <style>
    .card {
      @apply shadow-[6px_6px_0_0] border-[2px] border-solid border-black duration-200;
    }
    .link-button {
      @apply bg-white border-[1px] border-solid border-black shadow-[4px_4px_0px_0px] hover:translate-x-[2px] hover:translate-y-[2px] hover:shadow-[2px_2px_0px_0px];
    }
  </style>
</div>
