---
interface Props {
  id: string;
  title: string;
  icon: string;
  colour1: string;
  colour2: string;
  description: string;
  slug: string;
  createdAt: Date;
  publishedAt: Date;
  updatedAt: Date;
}

import { marked } from "marked";

const {
  id,
  title,
  icon,
  colour1,
  colour2,
  description,
  slug,
  createdAt,
  publishedAt,
  updatedAt,
} = Astro.props;

const likes = "❤️";
---

<div class="container rounded-2xl" id={`resource-${id}`}>
  <div class="h-fit rounded-2xl border-[3px] border-[#000] md:w-[100%]">
    <div class="h-inherit infoColor w-full rounded-2xl bg-[#fff] text-right">
      <div class="h-inherit md:flex">
        <a
          href={`/resources/${slug}`}
          class="h-inherit bg-grad flex items-center justify-center rounded-xl border-[2px] border-l-[1px] border-t-[1px] border-b-[3px] border-[#000] p-2 text-center md:w-1/2 md:rounded-xl md:border-r-[3px] md:border-b-[2px]"
        >
          <div class="flex-colum justify-center align-middle">
            {
              icon ? (
                <img
                  class="icon m-auto w-[100px] items-center text-center"
                  src={icon}
                />
              ) : (
                ""
              )
            }
            <div
              class="title m-auto mt-[1em] h-fit w-fit items-center text-center text-lg font-bold"
              set:html={title.replace("\\n", "<br>")}
            />
          </div>
        </a>
        <div
          class="text h-inherit text-md m-auto items-center p-5 text-left md:w-1/2"
        >
          <a href={`/resources/${slug}`} set:html={marked.parse(description)} />
          <div class="z-[0] flex justify-end">
            <button
              class="iButton"
              id={`i-${id}`}
              onclick="displayInfo(this.id.replace('i-', ''))"
              title="Post Information"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                ><rect
                  x="0"
                  y="0"
                  width="24"
                  height="24"
                  fill="none"
                  stroke="none"></rect><path
                  fill="currentColor"
                  d="M11 7v2h2V7h-2m3 10v-2h-1v-4h-3v2h1v2h-1v2h4m8-5c0 5.5-4.5 10-10 10S2 17.5 2 12S6.5 2 12 2s10 4.5 10 10m-2 0c0-4.42-3.58-8-8-8s-8 3.58-8 8s3.58 8 8 8s8-3.58 8-8Z"
                ></path></svg
              ></button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <style define:vars={{ colour1, colour2 }}>
    .bg-grad {
      background-image: linear-gradient(
        90deg,
        var(--colour1) 0%,
        var(--colour1) 50%,
        var(--colour2) 100%
      );
    }

    .container {
      font-family: "Lexend";
      transition: 0.3s ease;
    }
    @media (hover: hover) and (pointer: fine) {
      .container:hover {
        transform: translateY(0.3em);
        filter: saturate(1.5);
      }
    }

    .full-width {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
    }

    .infoColor {
      transition: background-color 0.5s ease;
    }
    .infoColor:hover {
    }
  </style>
</div>
