---
interface Props {
  id: string;
  title: string;
  icon: string;
  colour1: string;
  colour2: string;
  description: string;
  slug: string;
}

const { id, title, icon, colour1, colour2, description, slug } = Astro.props;
const likes = "❤️";
---

<div class="container rounded-2xl ">
  <div class="card h-fit rounded-2xl md:w-[100%]">
    <div class="h-inherit w-full rounded-2xl bg-[#fff] text-right">
      <div class="h-inherit md:flex">
        <a
          href={`/resources/${slug}`}
          class="h-inherit bg-grad flex items-center justify-center rounded-tr-xl rounded-tl-xl border-b-[2px] border-[#000] p-2 text-center md:w-1/2 md:rounded-xl md:border-b-0 md:border-r-[2px]"
        >
          <div class="flex-colum justify-center align-middle">
            {
              icon ? (
                <img
                  class="icon m-auto w-[75px] items-center rounded-2xl text-center"
                  src={icon}
                />
              ) : (
                ""
              )
            }
            <div
              class="title m-auto mt-[1em] h-fit w-fit items-center text-center text-lg font-bold"
              set:html={title.replace("\\n", "<br>")}
            />
          </div>
        </a>
        <div
          class="text h-inherit text-md m-auto items-center p-5 text-left md:w-1/2"
        >
          {description}
          <div class="relative bottom-0 flex justify-end">
            <button id={`i-${id}`}>
              <a href={`/resources/${slug}`}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                ><rect
                  x="0"
                  y="0"
                  width="24"
                  height="24"
                  fill="none"
                  stroke=""></rect><path
                  fill="#32a9ff"
                  d="M11 7v2h2V7h-2m3 10v-2h-1v-4h-3v2h1v2h-1v2h4m8-5c0 5.5-4.5 10-10 10S2 17.5 2 12S6.5 2 12 2s10 4.5 10 10m-2 0c0-4.42-3.58-8-8-8s-8 3.58-8 8s3.58 8 8 8s8-3.58 8-8Z"
                ></path></svg
              ></a></button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <style define:vars={{ colour1, colour2 }}>
    .bg-grad {
      background-image: linear-gradient(
        90deg,
        var(--colour1) 0%,
        var(--colour1) 50%,
        var(--colour2) 100%
      );
    }
    .container {
      font-family: "Lexend";
    }
  </style>
</div>
