---
export interface Props {
  title: string;
  link: string;
  body: string;
  date: string;
  imgLink: string;
  tColour: string;
}
const { tColour, title, link, date, body, imgLink } = Astro.props;

---

<div class="card bg-white flex h-full w-full flex-col">
  <div class="flex-shrink p-5 text-center title">
    <p class="mb-2 text-xl font-bold">
      {title}
    </p>
    <p class="font-semibold uppercase">
      {date}
    </p>
  </div>
  <div class="flex flex-grow flex-col gap-5 px-6 py-6">
    <div class="flex-grow">
      <img
        class="mb-4 w-full"
        style="box-shadow: 4px 4px 0px 0px #000; border: 2px solid black;"
        alt="fbdbfsd"
        src={imgLink}
      />
      <p class="text-md text-gray-700">
        {body}
      </p>
    </div>
    <button
      class="hover:pointer bg-white link-button py-2 text-center font-mono text-lg"
    >
      <a href={link} class="h-full w-full px-4 font-bold uppercase">Read more</a
      >
    </button>
  </div>
</div>



<style define:vars={{tColour}}>
  .card {
    box-shadow: 6px 6px 0px 0px;
    border: 2px solid black;
    transition: ease 0.2s;

  }


  body {
    font-family: "Lexend";
  }

  .bg-white {
    background-color: #fff;
  }

  .link-button {
    background: #ffffff;
    border: 1px solid black;
    box-shadow: 4px 4px 0px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .link-button:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px 0px;
  }
  .title {
    background-color: var(--tColour);
  }
</style>
