---
export interface Props {
  title: string;
  link: string;
  body: string;
  date: string;
  imgLink: string;
}
const { title, link, date, body, imgLink } = Astro.props;
// TODO - Add a prop called tColour and use it as a style prop for the background of the title and remove the bg-opacity-0 so that the background is visible and remove the class beind the backgrond in the css 
// Disclaimer check the horicard for possible issue

---


<body class="mw-20 mh-70 text-justify">
  <div class="">
    <div
      style=""
      class="max-w-full card rounded overflow-hidden shadow-2xl"
    >
      <div class="text-center p-5 title">
        <div class="font-bold text-xl bg-blue-600">
          <h4 class="">{title}</h4>
        </div><div class="pt-2">
          {date}
        </div>
      </div>
      <div class="bg-white">
        <div class="bg-white w-100 h-70 px-8 py-4">
          <img
            class="w-full"
            style="box-shadow: 5px 5px 0px 0px #000; border: 2px solid black;"
            alt="fbdbfsd"
            src={imgLink}
          />
        </div>
        <div class="p-5">
          <p class="text-gray-700 text-lg">
            {body}
          </p>
        </div>
        <div class="bwhite text-right w-full p-3">
          <button
            class="hover:pointer bg-white text-center link-button font-mono text-lg py-2"
          >
            <a href={link} class="uppercase w-full h-full px-4">Read more</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>

<style>
  .card {
    box-shadow: 6px 6px 0px 0px; 
    border: 2px solid black;
        transition: ease 0.2s;
  }
  .card:hover {
    transform: translate(-3px, -3px);
    box-shadow: 8px 8px 0px 0px;

    /* transition-duration: 200ms; */
  }
  .card:hover .link-button {
    background-color: #ceff1b;
    transition: ease 0.5s;
  }

  body {
    font-family: "Lexend";
  }
  .bg-white {
    background-color: #fff;
  }
  .link-button {
    background: #ffffff;
    border: 1px solid black;
    box-shadow: 4px 4px 0px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
        transition: ease 0.2s;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .link-button:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px 0px;
    /* transition-duration: 200ms; */
  }
</style>
