---
//schena for each blogpost
import AccomplishmentMain from "../../components/AccomplishmentMain.astro";
import Layout from "../../layouts/Layout.astro";
const slug = Astro.params.slug;
let data = await fetch(
  `https://megabyte-website-backend.onrender.com/api/accomplishments?filters[slug][$eq]=${slug}`
)
  .then((res) => res.json())
  .then((d) => {
    return d.data;
  });
if (data.length === 0 || !data) {
  return Astro.redirect("/404");
}

data = data[0].attributes;

const colours = ["#ff7474", "#ffe874", "#74ff74", "#74d4ff"];
const colour = colours[Math.floor(Math.random() * colours.length)];
---

{
  (
    <Layout title={`${data.title} | Megabyte`}>
      <div class="bg-cube h-full px-8 pt-24 pb-8 sm:pt-36 md:px-24">
        <AccomplishmentMain
          title={data.title}
          rawContent={data.content}
          tColour={colour}
          date={data.date}
        />
      </div>
      <style />
    </Layout>
  )
}
