---
import Layout from "../../layouts/Layout.astro";

let fetchData = await fetch(
  "https://megabyte-website-backend.onrender.com/api/accomplishments?sort=date:desc&populate=*"
)
  .then((res) => res.json())
  .then((d) => {
    return d.data;
  });
import AccomplishmentCard from "../../components/AccomplishmentCard.astro";
import Maintain from "../../components/Maintain.astro"; // Use when site under maintainance

const colours = [
  "#81effc",
  "#ffe81b",
  "#ff7474",
  "#81effc",
  "#ffe81b",
  "#ff7474",
  "#81effc",
  "#ffe81b",
  "#ff7474",
  "#81effc",
  "#ffe81b",
  "#ff7474",
];
---

<!-- <Maintain /> Use when site under Maintainance --><!-- <Maintain /> --><!-- 
  structure of the post
  title: "this is the title"
description: "this is a description of the post"
pubDate: "this is pubdate"
updatedDate: ""
heroImage: "/public/assets/tsrs.svg"

<!-- `/accomplishments/${post.slug}/`} --><!-- `/accomplishments/${post.slug}/`} -->
<Layout title="Accomplishments | Megabyte">
  <div class="bg-cube h-full px-8 pt-24 pb-8 sm:pt-36 md:px-24">
    <div class="mb-8 flex flex-row items-center justify-center">
      <div class="title-box bg-[#ceff1b] py-6 px-6 text-center md:w-3/4">
        <h1 class="mb-5 text-center text-2xl font-bold md:text-3xl xl:text-4xl">
          Accomplishments
        </h1>
        <p class="mb-3 text-center text-lg md:text-xl xl:text-xl">
          What the society and its members have been up to, in and outside
          school.
        </p>

        <p>
          Email <span
            ><a target="_blank" href="mailto:tsrs.mgbt@gmail.com"
              >tsrs.mgbt@gmail.com</a
            ></span
          > in case you would like one of your tech-related accomplishments to be
          featured on the website.
        </p>
      </div>
    </div>

    {
      !fetchData || fetchData.length == 0 ? (
        // if there are no events found
        <div class="">No accomplishments to display at the moment.</div>
      ) : (
        // map each event to its own block
        <div class="mb-5 grid w-full grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
          {fetchData.map((notice, num) => {
            let details = notice.attributes;
            let imgSrc = "";
            if (details.media.data.length != 0) {
              imgSrc = details.media.data[0].attributes.url;
            }

            return (
              <div>
                <AccomplishmentCard
                  title={details.title}
                  link={`/accomplishments/${details.slug}`}
                  body={details.subline}
                  img={imgSrc}
                  tColour={colours[num]}
                  date={details.date}
                />
              </div>
            );
          })}
        </div>
      )
    }

    <style>
      .title-box {
        border: 3px solid #000;
        box-shadow: 6px 6px 0px 0px #000;
      }

      a {
        text-decoration: underline;
      }
    </style>
  </div>
</Layout>
